<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Menú raíz (aparece en la barra superior) -->
    <menuitem
        id="menu_control_empleados_root"
        name="Control Empleados"
        sequence="10"/>

    <!-- Submenú -->
    <menuitem
        id="menu_control_empleados_main"
        name="Empleados"
        parent="menu_control_empleados_root"
        action="action_empleado"
        sequence="1"/>

</odoo>
